<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Imgur Search Microservice</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Imgur Search Microservice
    </h1>
    <p>
      Imgur search API abstraction created for a freeCodeCamp challenge
    </p>
    
    <h3>
      Usage:
    </h3>
    <p>
      <strong>Image search:</strong><br>
      <code>https://knowing-crayon.glitch.me/api/imagesearch/lolcats</code><br>
      <code>https://knowing-crayon.glitch.me/api/imagesearch/lolcats?page=2</code>
    </p>
    <p>
      <strong>Latest searches:</strong><br>
      <code>https://knowing-crayon.glitch.me/api/imagesearch/latest</code>
    </p>
  </body>
</html>
